<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="TextilePOS.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <immediateFlush value="true" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <remove name="InfyBI" />
    <add name="InfyBI" connectionString="server=localhost;Port=5432;database=demo;user id=postgres;password=abc123" providerName="System.Data.PostgrSQLClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerURL" value="https://demo.quantosaas.com" />
    <add key="Locationcode" value="MAIN" />
    <add key="OrganizationCode" value="" />
    <add key="Data" value="D:\aravindan\project\shopppingkart" />
    <!-- MasterSource: Server = download from Quanto (ServerURL), Client = download from another PrintService client (ClientURL) -->
    <add key="MasterSource" value="Server" />
    <add key="ClientURL" value="" />
    <add key="BIClientCode" value="B2BQUANTO" />
    <add key="AppMode" value="" />
    <add key="BIDownloadTimer" value="1" />
      <add key="EnableOffline" value="true" />
  <add key="OfflineSyncURL" value="https://demo.quantosaas.com" />
  <add key="OfflineSyncTimer" value="15" />
  </appSettings>
</configuration>
